*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cabin-regular {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.cabin-bold {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}


.molde {
    max-width: 77vw;
    width: 100%;
    margin: 0 auto;
    
}

#navbar .container {
    
    max-width: 77vw;
    width: 100%;
    margin: 0 auto;

}
.ajuste-navbar {
    background-color: #373A3C;
    display: flex;
    
 }



.linea {
    height: 2px;
    background-color: black;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 18px;
}

.linea2 {
    height: 2px;
    background-color: black;
    width: 100%;
    margin: top 0px;
    margin-bottom: 18px;
}
.texto-pizza1 {
    font-size: 40px;
}

.texto-tiempo {
    text-align: left;
}

@media (max-width: 340px) {
    .texto-pizza1 {
        font-size: 25px;
        
    }
    
   }




#rodslider {
    font-family: sans-serif;
    margin: auto;
    max-width: 100%;
    height: fit-content;
    width: 100%;
    
    box-sizing: border-box;
    padding-bottom: 0%;
}

#rodslider>ol, li {
    padding: 0;
    list-style: none;
}

ol.fotos {
    display: flexbox;
    text-align: center;
    margin: 20px 0px;
    width: inherit;
    height: 204px;
    overflow: hidden;
    
}

#lote1 {
    position: relative;
    width: inherit;
    height: inherit;
 }
 
 #lote2  { 
    position: relative;
    width: inherit;
    height: inherit;
}

#lote1 img, #lote2 img {
    width: 280px;
    height: 204px;
    margin: 0 5px;
}

ol.menu {
    position: relative;
    text-align: center;
    margin: 0px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: #373A3C;
    text-decoration: none;
    font-size: 40px;
}

.ajuste-newsletter {
    background-color: #DC3545;
    color: #ffffff;
}

.ajuste-footer {
    background-color: #373A3C;
}